:root {
    --color-1: #f1be32;
    --color-2: #0a0a23;
    --color-3: #f9faf8;
    --color-4: #1f2937;
    --color-5: #E5E7Eb;
    --color-6: #ffa31a;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header > img {
    width: 50px;
    border-radius: 50%;
    height: 50px;
}

header {
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
    position: sticky;
    align-items: center;
    top: 0;
}

ul {
    display: flex;
    gap: 2.5rem;
    padding: 0;
    align-items: center;
    flex-wrap: wrap;
}

ul > li {
    list-style: none;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    transition: background-color, 1s;
}

ul > li > a {
    color: white;
    text-decoration: none;
}

ul > li:hover {
    background-color: var(--color-1);
}

body .introduction {
    display: flex;
    justify-content: center;
    background: url(/images/abenteuer-albanien-oCozKAz-CH4-unsplash.jpg);
    background-size: cover;
    gap: 16px;
    height: 100vh;
}

footer {
    display: flex;
    padding: 0.5rem;
    border-top: 1px solid rgb(209, 209, 209);
    align-items: center;
    justify-content: center;
    font-size: 19px;
    font-family: monospace;
    gap: 0.4rem;
}

.introduction .main-text h1:first-of-type {
    font-size: 5.5rem;
    color: black;
    margin: 0;
}

.content_image img {
    width: 250px;
    height: auto;
    border-radius: 5%;
}

.introduction .main-text h1:nth-of-type(2) {
    font-size: 5.5rem;
    color: var(--color-1);
    margin: 0;
}

.main-text {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 40%;
    flex-wrap: wrap;
}

blockquote {
    margin: 0;
    padding: 2rem 0;
    color: red;
    font-size: 2rem;
    font-style: italic;
}

header nav ul li button {
    padding: 0.4rem 0.7rem;
    font-size: 1rem;
    font-weight: 400;
    background-color: var(--color-1);
    color: var(--color-2);
    border: none;
    cursor: pointer;
    transition: background-color, color, 0.3s;
}

header nav ul li button:hover {
    background-color: var(--color-2);
    color: var(--color-1);
}

.content_image {
    display: flex;
    align-items: center;
}

.info-container {
    display: flex;
    flex-flow: column wrap;
    align-self: center;
    gap: 25px;
    margin-top: 1.5rem;
    background-color: #1f2937;
}

.info-container .hero-title {
    font-size: 3.1rem;
    margin-top: 2.8rem;
    margin-bottom: 0;
    padding: 0;
    align-self: center;
    border-bottom: 4px solid gray;
    color: white;
}

.info-container .card-sections {
    display: flex;
    flex-flow: column wrap;
    padding: 1.2rem;
    border-radius: 3%;
    background-color: var(--color-3);
    border: none;
    margin-bottom: 1.5rem;
    max-width: 400px;
    min-width: 200px;
}

.info-container .card-sections h2 {
    align-self: center;
    font-family: monospace;
    font-size: 30px;
    border-bottom: 2px solid grey;
    padding: 0.4rem;
    margin: 0px 0px 0.5rem 0;
    color: var(--color-1);
    background-color: var(--color-2);
}

.info-container .card-sections .sub-section {
    display: flex;
    gap: 1.4rem;
    flex-wrap: wrap;
}

.info-container .card-sections .sub-section img {
    width: 100%;
    max-width: 200px;
    max-height: 200px;
    height: auto;
    align-self: center;
}

.info-container .card-sections .sub-section p {
    flex: 1;
    font-size: 1.1rem;
    min-width: 140px;
    padding: 0.7rem;
    margin: 0;
}

.info-container .card-sections a{
    align-self: center;
    text-decoration: none;
}

.info-container .card-sections a button {
    padding: 0.6rem 0.8rem;
    background-color: var(--color-2);
    color: var(--color-1);
    font-weight: bolder;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.info-container .texting {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
}

.info-container .texting #alexander {
    align-self: stretch;
}

body .area {
    padding: 3rem;
    display: flex;
    justify-content: center;
    background: url(images/jack-anstey-XVoyX7l9ocY-unsplash.jpg);
    background-size: cover;
    height: 100vh;
    align-items: center;
}

body .area .newsletter {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    flex: 1;
    gap: 0.5rem;
    align-items: center;
    max-width: 900px;
}

body .area .newsletter p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.6rem;
    color: var(--color-2);
    font-weight: 600;
    margin: 1rem 0;
    text-align: center;
    background-color: white;
}

body .area .newsletter button {
    padding: 0.7rem;
    align-self: center;
    border: none;
    background-color: var(--color-2);
    color: var(--color-3);
    font-weight: bolder;
    margin: 0.9rem 0;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1.8rem;
}

body .area .newsletter button span {
    background-color: var(--color-6);
    color: var(--color-2);
    margin-left: 0.4rem;
    border-radius: 5px;
    padding: 2px;
}

footer img {
    width: 30px;
}

footer a {
    text-decoration: none;
    color: var(--color-2)
}

.hidden-icon {
    display: none;
}

@media (max-width: 510px){
    nav ul li{
        display: none;
    }

    header {
        justify-content: space-between;
    }

    header > * {
        margin: 0 1rem;
    }
    
    .hidden-icon {
        display: inline;
        color: wheat;
        font-size: 1.9rem;
        cursor: pointer;
    }
}